/* purgecss start ignore */
@tailwind base;

@import url('https://fonts.googleapis.com/css?family=Raleway:400,600&display=swap');

/* General elements */
body {
  @apply min-h-screen font-body;
}
/* purgecss end ignore */

@tailwind components;
@tailwind utilities;

.h1 {
  @apply text-4xl;
}

.h2 {
  @apply text-2xl;
}

.h3 {
  @apply text-xl;
}

.h4 {
  @apply text-lg;
}

@screen md {
  .h1 {
    @apply text-5xl;
  }

  .h2 {
    @apply text-3xl;
  }

  .h3 {
    @apply text-2xl;
  }

  .h4 {
    @apply text-xl;
  }
}

/* Utils */
.bordered-title::after {
  @apply bg-accent block h-1 mt-2 w-12;
  content: "";
}

/* Project item */
.project-item {
 transition: all 100ms linear; 
}

.animation-target {
  @apply relative;
  transition: left 100ms linear;
  left: 0;
}

.project-item:hover .animation-target {
  left: 20px;
}

.project-item:hover {
  @apply bg-indigo-500 rounded;
}
